<div class="container">
    <div class="row">
        <%# 背景画像表示 %>
        <% if params[:q].present? && params[:q][:name_cont].present? %>
        <% else %>
            <div class="main-image"></div>
        <% end %>

        <%# メニューバー %>
        <%= render "/layouts/menubar"%>

        <%# 検索ワードが空欄以外の時に表示 %>
        <% if params[:q].present? && params[:q][:name_cont].present? %>
            <h2 style="margin-left:50px;">’<%= params[:q][:name_cont] %>’の検索結果 <%= @result.total_count %>件</h2>
        <% else %>
            <h2 style="margin-left:50px;">新着温泉:<%= @hot_springs.total_count %>件</h2>
        <% end %>

        
        <%# 検索結果がある場合 %>
        <% if @result.any? %>
            <% @result.each do |result| %>
                <div class="hot-spring-box  clearfix">
                    <%= link_to hot_spring_path(result.id) do %>
                        <div class="well well-lg col-xs-12 col-md-12">
                            <div class="col-xs-12 col-md-12">
                                <%# 投稿日 %>
                                <h4 style="font-weight:bold;color:darkgreen;">投稿日：<%= result.created_at.strftime("%Y年%-m月%-d日") %></h4>

                                <%# 評価 %>
                                <h3><strong style="color:red;">総合評価：<%= result.total_rate.round(1) %></strong></h3>
                            </div>
                            <!--温泉写真-->
                            <div class="col-xs-12 col-md-6">
                                <div class="image-box">
                                    <%= attachment_image_tag result, :image, :fill, 440, 200, :size=>"440x200" %>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-5 col-md-offset-1">
                                <!--温泉名-->
                                
                                    <h2><strong><%= result.name %></h2></strong>
                                <%# 都道府県名 %>
                                <h3><p class="label label-warning"><%= result.prefecture.name %></p></h3>
                                <%# 所在地 %>
                                <p>所在地：<%= result.address %></p>
                                <%# 営業時間 %>
                                <p>営業時間：<%= result.start_time %>〜<%= result.ending_time %></p>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
            <div class = "row">
                <div class = "col-sm-12">
                    <%# KAMINARI実装 %>
                    <%= paginate @result %>
                </div>
            </div>
        <% end %>

        <%# 検索結果がない場合 %>
        <% if @result.nil? %>

            <!--温泉投稿-->
            <% @hot_springs.each do |h| %>
                <div class="hot-spring-box  clearfix">
                    <%= link_to hot_spring_path(h.id) do %>
                        <div class="well well-lg col-xs-12 col-md-12">
                            <div class="col-xs-12 col-md-12">
                                <%# 投稿日 %>
                                <h4 style="font-weight:bold;color:darkgreen;">投稿日：<%= h.created_at.strftime("%Y年%-m月%-d日") %></h4>

                                <%# 評価 %>
                                <h3><strong style="color:red;">総合評価：<%= h.total_rate.round(1) %></strong></h3>
                            </div>
                            <!--温泉写真-->
                            <div class="col-xs-12 col-md-6">
                                <div class="image-box">
                                        <%= attachment_image_tag h, :image, :fill, 440, 200, :size=>"440x200" %>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-5 col-md-offset-1">
                                <!--温泉名-->
                                <h2><strong><%= h.name %></h2></strong>
                                <%# 都道府県名 %>
                                <h3><p class="label label-warning"><%= h.prefecture.name %></p></h3>
                                <%# 所在地 %>
                                <p>所在地：<%= h.address %></p>
                                <%# 営業時間 %>
                                <p>営業時間：<%= h.start_time %>〜<%= h.ending_time %></p>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
            <div class = "row">
                <div class = "col-sm-12">
                    <%# KAMINARI実装 %>
                    <%= paginate @hot_springs %>
                </div>
            </div>
        <% end %>
    </div>

</div>