<%= render "/layouts/menubar"%>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 post_image_box">
        <h3>温泉投稿フォーム</h3>
        <div class="box well well-lg">
          <% if @hot_spring.errors.any? %>
              <%= @hot_spring.errors.count %>件のエラーが発生しました
              <% @hot_spring.errors.full_messages.each do |message| %>
                  <%= message %>
              <% end %>
          <% end %>
          
          <%= form_for(@hot_spring, url:hot_springs_path) do |f| %>
 
            <div class="row form-group">
              <div class="col-sm-3">
                <%= f.label :温泉写真 %>
              </div>
              <div class="col-sm-9">
                <%= f.attachment_field :image %>
              </div>
            </div>
            <%# 温泉名 %>
            <div class="row form-group">
              <div class="col-sm-3">
                <%= f.label :温泉名 %>
              </div>
              <div class="col-sm-9">
                <%= f.text_field :name, autofocus: true, class:"form-control" %>
              </div>
            </div>
            <%# 住所 %>
            <div class="row form-group">
              <div class="col-sm-3">
                <%= f.label :住所 %>
              </div>
              <div class="col-sm-9">
                <%= f.text_field :address, autofocus: true, class:"form-control" %>
              </div>
            </div>
            <%# 都道府県 %>
            <div class="row form-group">
              <div class="col-sm-3">
                <%= f.label :都道府県 %>
              </div>
              <div class="col-sm-4">
                <div class="field">
                  <%= f.select :prefecture_id, Prefecture.all.map { |prefecture| [prefecture.name, prefecture.id] }, {prompt: '選択してください'}  %>
                </div>
              </div>
            </div>
            <%# 値段 %>
            <div class="row form-group">
              <div class="col-sm-3">
                <%= f.label :値段 %>
              </div>
              <div class="col-sm-4">
                <p>大人<%= f.text_field :adult_price %></p>
              </div>
              <div class="col-sm-4">
                <p>子供<%= f.text_field :child_price %></p>
              </div>
            </div>
            <%# 営業時間 %>
            <div class="row form-group">
              <div class="col-sm-3">
                <%= f.label :営業時間 %>
              </div>
              <div class="col-sm-4">
                <p>開始<%= f.text_field :start_time %>
              </div>
              <div class="col-sm-4">
                <p>終了<%= f.text_field :ending_time %></p>
              </div>
            </div>
            <%# 温泉種類 %>
            <div class="row form-group">
              <div class="col-sm-3">
                <%= f.label :温泉の種類 %>
              </div>
              <div class="col-sm-9">
                <label class="radio-inline"><%= f.radio_button :hot_spring_status, "人工温泉" %> 人工温泉 </label>
                <label class="radio-inline"><%= f.radio_button :hot_spring_status, "天然温泉" %> 天然温泉</label><br>
              </div>
            </div>
            <%# 評価 %>
            <div class="row form-group">
              <div class="col-sm-3">
                <%= f.label :温泉評価 %>
              </div>
              <div class="col-sm-3">
                <%= f.select :rate,  [["1",1], ["2",2], ["3",3], ["4",4], ["5",5]], {}, {class: 'hoge'} %>
              </div>
            </div>
            <%# 備考 %>
            <div class="row form-group">
              <div class="col-sm-3">
                <%= f.label :備考 %>
              </div>
              <div class="col-sm-12">
                <%= f.text_area :remarks, rows:'2', class:"col-sm-12", style:"padding:0;", autofocus: true, class:"form-control" %>
              </div>
            </div>
            <%# レビュー %>
            <div class="row form-group">
              <div class="col-sm-3">
                <%= f.label :レビュー %>
              </div>
              <div class="col-sm-12">
                <%= f.text_area :review, rows:'5', class:"col-sm-12", autofocus: true, class:"form-control" %>
              </div>
            </div>
            
            <div class="text-center">
              <%= f.submit "投稿する", class:"btn btn-primary btn-lg", style:"margin-top:10px;" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
