<div class="container">
    <div class="row">


        <%# メニューバー %>
        <%= render "/layouts/menubar"%>

        <h2 style="margin-left:50px;">温泉ランキング</h2>

        <!--温泉投稿-->
        <% @ranking.each do |r|  %>
            <div class="hot-spring-box  clearfix">
                <%= link_to hot_spring_path(r.id) do %>
                    <div class="well well-lg col-xs-12 col-md-12">
                        <div class="col-xs-12 col-md-12">
                            <%# 投稿日 %>
                            <h4 style="font-weight:bold;color:darkgreen;">投稿日：<%= r.created_at.strftime("%Y年%-m月%-d日") %></h4>

                            <%# 評価 %>
                            <h3><strong style="color:red;">総合評価：<%= r.total_rate.round(1) %></strong></h3>
                        </div>
                        <!--温泉写真-->
                        <div class="col-xs-12 col-md-6">
                            <div class="image-box">
                                    <%= attachment_image_tag r, :image, :fill, 440, 200, fallback: "/images/no_image.jpg", :size=>"440x200" %>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-5 col-md-offset-1">
                            <!--温泉名-->
                            <h2><strong><%= r.name %></h2></strong>
                            <%# 都道府県名 %>
                            <h3><p class="label label-warning"><%= r.prefecture.name %></p></h3>
                            <%# 所在地 %>
                            <p>所在地：<%= r.address %></p>
                            <%# 営業時間 %>
                            <p>営業時間：<%= r.start_hours %>:<%= r.start_minutes %>〜<%= r.end_hours %>:<%= r.end_minutes %></p>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>