<!DOCTYPE html>
<html>
  <head>
    <title>Higaerionsen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <%= javascript_include_tag 'jquery.japan-map.min.js' %>
    <script>
    $(function(){
        $("#map-container").japanMap({
            width:600,
            onSelect : function(data){
                alert(data.name);
            }
        });
    });
    </script>
  </head>

  <body>
    <div class="wrapper">

      <%= render "/layouts/header"%>

      <%= yield %>
    
      <%= render "/layouts/footer"%>

    </div>
  </body>
</html>
